
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.blog-main{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.left-blog{
    width: 65%;
    height: fit-content;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.right-blog{
    width: 32%;
    height: fit-content;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.left-blog h1{
    color: #1889C1;
    text-transform: uppercase;
    text-align: center;
}
.blog-main .pic
{
    width: 95%;
    margin: auto;
    padding: 15px;
    text-align: center;
}
.left-blog .para{
    padding: 15px;
}
.left-blog .para p{
    font-weight: 500;
}
h3{
    text-align: center;
    font-size: 40px;
    color: #1889c1;
}
.left-blog div strong{
    font-size: 35px;
    color: #333333 !important;
    font-family: 'Acme', sans-serif;
    line-height: 40px;
}
.right-blog .sort-box{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
    margin-bottom: 15px;
}
.right-blog .sort-box #pic{
    width: 40%;
}
.sort-box div a{
    color: #1889C1;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
}
.sort-box div a:hover{
    color: #333333;
}
.sort-box div strong{
    font-size: 17px;
    font-family: 'Acme', sans-serif;
}
.sort-box div:nth-child(2){
    text-align: left ;
}

@media screen and (max-width:800px) {
    .blog-main{
       
        display: block;
        
    }
    .left-blog,.right-blog{
        width: 100%;
       
    }
    .right-blog .sort-box{
        display: block;
        text-align: center;
    }
    .right-blog .sort-box #pic{
        width: 40%;
        margin: auto;
    }
}








